/*Tela principal*/
header {
    border: 10px solid #8B795E;
    padding-top: 10px;
    padding-bottom: 50px;
    background-image: url(https://cdn.civitatis.com/austria/viena/guia/palacio-belvedere.jpg);
    background-size: all;
    text-align: center;
    color: white;
    font-size: 60px;
    text-decoration: none;  
}

nav {
    overflow: hidden;
    background-color: #CDB38B;

}

nav a {
    float: left;
    display: block;
    color: black;   
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    background-color: #CDB38B;
}

nav a:hover {
    background-color: #8B795E;
    color: white;
}

article{
    border: 10px solid #8B795E;
    text-align: center;
    padding: 40px;  
    background-color: #CDB38B;
    font-size: 20px;    
}

p{
    font-size: 30px;
}

h2{
    font-size: 40px;
}

footer{
    border: 10px solid #8B795E;
    text-align: center;
    background-color: #CDC9A5;
    font-size: 30px;
}

form{
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 10px solid #ccc;
    border-collapse: collapse;
}

/* Estilo geral do formulário (usado em login e cadastro)*/
input[type=E-mail], input[type=password], select {
    width: 450px;
    padding: 4px 10px;
    margin: 8px 0;
    display: block;
    border: 5px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: #8B795E;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

/*Tela de Login*/
a.botao {
    color: red;
    font-size: 20px;
}

div.login{
    text-align: center;
    
    padding: 50px;
    border: 10px solid #8B795E;
    background-color: #CDB38B;
    
}

div.login form{
    
    width: 500px;    
    margin: auto;
    display: block;
    border: 5px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

/*Tela de Serviços*/
div.servicos {
    background-color: #CDB38B;
    padding: 65px;
    border: 10px solid #8B795E;
    float: left;
    
}

div.servicos img {
    border: 5px solid #ccc;
    width: 50%;
    height: 60%;
}

/*Tela dos Quartos*/
div.quartos {
    background-color: #CDB38B;
    padding: 65px;
    border: 10px solid #8B795E;
    float: left;
    
}

div.quartos img {
    border: 5px solid #ccc;
    width: 50%;
    height: 60%;
}

/*Estilo geral da descrição (usado em serviços e quartos)*/

div.descricao {
    font-size: 20px;
    text-align: justify;
    float: right;
    width: 500px;
    height: 200px;
}

/*Tela de cadastro*/
div.cadastro {
    background-color: #CDB38B;
    padding: 65px;
    border: 10px solid #8B795E;
    text-align: center;
    
}

div.cadastro form{
    width: 500px;    
    margin: auto;
    display: block;
    border: 5px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;

}

div.cadastro label{
    font-size: 20px;
}

div.cadastro input[type=submit]{
    background-color: #8B795E; /* Green */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

div.cadastro input{
    width: 450px;
    padding: 4px 10px;
    margin: 8px 0;
    display: block;
    border: 5px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

/*Tela de Reservas*/
div.reserva {
    background-color: #CDB38B;
    padding: 65px;
    border: 10px solid #8B795E;
    text-align: center;
    
    
}